.game-board {
  display: inline-block;
  text-align: center;
}
.game-board:not(.disabled) .square:hover {
  background-color: #1abc9c;
}
.game-board > div {
  display: inline-block;
}

.game-info {
  text-align: left;
}
.game-info > div {
  padding-top: 30px;
}
@media screen and (min-width: 559px) {
  .game-info > div {
    padding: 15px;
  }
}
.game-info ol {
  list-style: none;
  padding-left: 0;
}
.game-info ol li {  
  border-bottom: 1px solid #a2a2a2;  
}
.game-info ol li a {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 15px;
  transition: background-color 200ms;
}
.game-info ol .current:not(:first-child) a {  
  background-color: #5b636f;  
  font-weight: bold;
}
.game-info ol li a:hover {  
  background-color: #16a085;
}

.game-info .actions {
  text-align: center;
}
.game-info .actions .btn {
  margin-bottom: 30px;
}