.square {
  background-color: #39414E;
  border: 1px solid #ccc;
  cursor: pointer;
  float: left;
  font-size: 23px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  transition: background-color 200ms;
}
.square:nth-child(3n + 1) {
  clear: both;
}
.square:focus {
  outline: none;
}
.square.value {
  background-color: #fff;
}