.container {
  margin: 0 auto;
  max-width: calc(700px - 30px);
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.container:after {
  clear: both;
  content: '';
  display: table;
}

.col {
  float: left;
}
.col-5 {
  width: 100%;
}
@media screen and (min-width: 559px) {
  .col-5 {
    width: 50%;
  }
}

.game {
  margin-top: 60px;
}
.game-board {
  display: inline-block;
  text-align: center;
}
.game-board > div {
  display: inline-block;
}
.game-info {
  text-align: left;
}
.game-info > div {
  padding-top: 30px;
}
@media screen and (min-width: 559px) {
  .game-info > div {
    padding: 15px;
  }
}
.game-info ol {
  border: 1px solid #ccc;
  border-bottom-width: 5px;
  list-style: none;
  padding-left: 0;
}
.game-info ol li {  
  border-bottom: 1px solid #ccc;  
}
.game-info ol li:last-child {  
  border-bottom: none;  
}
.game-info ol li a {  
  display: block;
  padding: 15px;
  background-color: #fff;
}
.game-info ol li a:hover {  
  background-color: #eee;
}
.game-info ol .current a {  
  font-weight: bold;
}

.game-info .status {
  display: block;
  font-size: 18px;
  text-align: center;
  transition: 200ms;
}
.game-info .winner {
  color: #1abc9c;
  font-size: 24px; 
  font-weight: bold; 
}

.square {
  background-color: #fff;
  border: 1px solid #999;
  cursor: pointer;
  float: left;
  font-size: 23px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}
.square:nth-child(3n + 1) {
  clear: both;
}
.square:focus {
  outline: none;
}

.game-board:not(.disabled) .square:hover {
  background-color: #eee;
}

.disabled .square {
  cursor: not-allowed;
}
.disabled {
  opacity: 0.4;
}